<!DOCTYPE html>
<html>
<head>
    <title>StyleSynth.ai</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="../static/script.js"></script>
</head>

<body>
    <header class="header">
        <a href="{{ url_for('hola') }}">
            <img src="../static/images/title.png" alt="Website Logo" class="logo" }}">
        </a>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="{{ url_for('hola') }}">Marketplace</a></li>
                <li><a href="{{ url_for('orders') }}">Orders</a></li>
                <li><a href="{{ url_for('chatbox') }}">Outfit Tool</a></li>
            </ul>
        </nav>
    </header>
    <form action="/" method="POST">
        <div class="search-container">
            <input type="text" id="search" name="search" placeholder="Search..." onclick="toggleDropdown()">
            <input type="submit" value="" id="search-button">
        </div>
        <div class="dropdown" id="dropdown" style="display: none;">
            <label for="option1"> For who </label>
            <select id="option1" name="option1" onchange="populateSearchBar('option1')">
                <option value="Men"> Men </option>
                <option value="Women"> Women </option>
                <option value="Kids"> Kids </option>
                <option value="Unisex"> Unisex </option>
            </select>
            <br><br>
            
            <label for="option2"> Looking for </label>
            <select id="option2" name="option2"onchange="populateSearchBar('option2')">    
                <option value="T-Shirt"> T-Shirt </option>
                <option value="Shirt"> Shirt </option>
                <option value="Jeans"> Jeans </option>
                <option value="Jacket"> Jacket </option>
                <option value="Sportswear"> Sportswear </option>
                <option value="Sweater"> Sweater </option>
                <option value="Hoodie"> Hoodie </option>
                <option value="Suit"> Suit </option>
                <option value="Coat"> Coat </option>
                <option value="Kurta"> Kurta </option>
                <option value="Dress"> Dress </option>
                <option value="Skirt"> Skirt </option>
                <option value="Shorts"> Shorts </option>
                <option value="Crop top"> Crop top </option>
                <option value="Gown"> Gown </option>
                <option value="Saree"> Saree </option>
                <option value="Leggings"> Leggings </option>
                <option value="Pants"> Pants </option>
            </select>
            <br><br>

            <label for="option3"> Brand </label>
            <select id="option3" name="option3" onchange="populateSearchBar('option3')">
                <option value="Any"> Any </option>
                <option value="Nike"> Nike </option>
                <option value="Adidas"> Adidas </option>
                <option value="Raymond"> Raymond </option>
                <option value="Puma"> Puma </option>
                <option value="Allen Solly"> Allen Solly </option>
                <option value="US Polo"> US Polo </option>
                <option value="Biba"> Biba </option>
                <option value="Calvin Klein"> Calvin Klein </option>
                <option value="Fabindia"> Fabindia </option>
                <option value="H&M"> H&M </option>
                <option value="John Players"> John Players </option>
                <option value="Levi's"> Levi's </option>
                <option value="Monte Carlo"> Monte Carlo </option>
                <option value="Mufti"> Mufti </option>
                <option value="Peter England"> Peter England </option>
                <option value="Park Avenue"> Park Avenue </option>
            </select>
            <br><br>

            <label for="option4"> Fabric </label>
            <select id="option4" name="option4" onchange="populateSearchBar('option4')">
                <option value="Any"> Any </option>
                <option value="Cotton"> Cotton </option>
                <option value="Wool"> Wool </option>
                <option value="Silk"> Silk </option>
                <option value="Linen"> Linen </option>
                <option value="Chiffon"> Chiffon </option>
                <option value="Denim"> Denim </option>
                <option value="Velvet"> Velvet </option>
                <option value="Muslin"> Muslin </option>
                <option value="Polyester"> Polyester </option>
                <option value="Rayon"> Rayon </option>
                <option value="Terry"> Terry </option>
                <option value="Satin"> Satin </option>
            </select>
            <br><br>

            <label for="option5"> Color </label>
            <select id="option5" name="option5" onchange="populateSearchBar('option5')">
                <option value="Any"> Any </option>
                <option value="Colorful"> Colorful </option>
                <option value="Black"> Black </option>
                <option value="Red"> Red </option>
                <option value="Blue"> Blue </option>
                <option value="Green"> Green </option>
                <option value="Yellow"> Yellow </option>
                <option value="Maroon"> Maroon </option>
                <option value="Pink"> Pink </option>
                <option value="White"> White </option>
                <option value="Orange"> Orange </option>
                <option value="Violet"> Violet </option>
            </select>
            <br><br>
        </div>
    </form>
    <div id="selected-options" class="tag-container"></div>

    <div class="results-container">
        {% for result in search_results %}
            <div class="result">
                <h3 class="result-title">{{ result['title'] }}</h3>
                <a href="{{ result['link'] }}" target="_blank">
                    <img src="{{ result['thumbnail'] }}" alt="Result Image">
                </a>
                <form action="/order" method="post">
                    <input type="hidden" name="title" value="{{ result['title'] }}">
                    <input type="hidden" name="link" value="{{ result['link'] }}">
                    <input type="hidden" name="thumbnail" value="{{ result['thumbnail'] }}">
                    <button type="submit" class="order-button">Order</button>
                </form>            

            </div>
        {% endfor %}
    </div>

</body>
</html>


