<!DOCTYPE html>
<html>
<head>
    <title>Fake Website</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="../static/script.js"></script>
</head>

<body>
    <header class="header">
        <a href="#">
            <img src="../static/images/title.png" alt="Website Logo" class="logo">
        </a>
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="#">Marketplace</a></li>
                <li><a href="../templates/orders.html">Orders</a></li>
                <li><a href="../templates/outfit.html">Outfit Tool</a></li>
            </ul>
        </nav>
    </header>

    <h1>Orders</h1>
    
    <div class="results-container">
        {% for order in orders %}
            <div class="result">
                <h3 class="result-title">{{ order[1] }}</h3>
                <a href="{{ order[2] }}" target="_blank">
                    <img src="{{ order[3] }}" alt="Product Thumbnail">
                </a>
            </div>
        {% endfor %}
    </div>

</body>
</html>


